.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

.heading {
  color: brown;
}

.label {
  font-weight: bold;
}

.blue {
  color: blue;
}

.blue-text {
  color: slateblue;
}

.red {
  color: red;
}

.maroon {
  color: maroon;
}

.green {
  color: green;
}

.green-text {
  color: mediumseagreen;
}
